* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and
    height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lustria', serif;
    line-height: 1.6rem;
}


.profile content .p {
    line-height: 1.6;
}

/* Heading */

.hero-container {
    background: url("images/Test-image.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center bottom;
    width: 85%;
    height: 925px;
    background-size: cover;
    padding: 50px;
}

/* img {
    filter: grayscale(100%);
  } */

/* .container {
    width: 100%;
    padding: 5%;
    margin-bottom: 50px;
} */

.container-fluid {
    margin-bottom: 25px;
}

#play-game-page {
    margin: 25px, auto;
    width: 85%;
    padding: 35px;

}



h1 {
    font-family: "Lustria", serif;
    font-size: 40px; 
    color: black;
    padding: 15px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 24px;
}



h3 {
    display: block;   
    text-align: left;
    font-size: 23px;
    color: white;
    margin: 5px;
}

h4 {
    text-align: center; 
    padding: 35px;
    font-size: 22px; 
    color: white;
    /* font-weight: bold; */
    line-height: 1.9rem;
    padding: 8px;
}

h5 {
    text-align: center;
    font-size: 22px;
    padding: 8px;
    color: black;
}

h6 {
    color: white;
    text-align: center;
    line-height: 1.6rem;
    padding: 10px;
}
/* 
.game-title {
    font-size: 34px;
    color: #4E4957;
    text-align: center;
    padding: 24px;
} */

.title-section  {
    padding: 20px;
    margin-top: 20px;
    min-height: 750px

}

.button-container {
    text-align: center;
}

/* Collapse Arrow */

.collapse-arrow .icon {
    transform: rotate(-180deg);
    transition: .3s transform ease-in-out;
    display: inline-block;
  }
  
  .collapse-arrow .collapsed .icon {
    transform: rotate(0deg);
  }


.btn-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.card {
    background-color: whitesmoke;
}

.card-header {
    padding: .5rem 1.0 rem;
    margin-bottom: 9;
    border-bottom: 2px solid #E8E8E8;
}

.card-header p {
    font-size: 20px;
    color: white;
}

.complete-status {
    text-align: right;
    padding-top: 9px;
}


/* Navigation Bar */

/* .navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: 'Lustria', serif;
    font-size: 2.5rem;
    font-weight: bold;
  } */
  
  /* .nav-bar-item {
    padding: 0 18px;
    font-weight: bold;
    font-size: 22px;
  }
  */



a:link {
    text-decoration: none;
    color: #56994C;
    transition-duration: 0.8s;
}

a:active {
    color: purple;
}

a:visited {
    color: black;
}

a:hover {
    color: #A95877;
}


.card {
    /* height: 600px; */
    outline: darkgray;
}

.card-body {
    line-height: 1.6rem;
    margin: 30px;
    font-size: 16px;
}

.card border-dark mb-3 {
    height: 200px;
}

/* Getting Started Page */

#get-started-page {
    background-color: #004268;
    padding: 5%;
    text-align: center;
}

.get-started-title-1  {
    
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: #FF4840;
    padding: 1rem;

}



.get-started-title-2  {   
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: #F5C174;
    padding: 1rem;
}
.get-started-title-3  {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: #56994C;
    padding: 1rem;
}
.get-started-title-4  {  
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: #1A7DA7;
    padding: 1rem;
}
.get-started-title-5  {    
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: #A95877;
    padding: 1rem;
}
.get-started-title-6  {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: #F99287;
    padding: 1rem;
}


.profile-content {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

/* Profile Content */
.profile-content {
    padding: 18px;
    background: whitesmoke;
    min-height: 150px;
    margin-bottom: 30px;
    height: 300px;
    text-align: left;
    line-height: 1.6rem;
}

/* Game Page */

.accordion .card-header a:before {
    content: '\e316';
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 10px;
    transform: rotate(180deg);
    transition: all 0.5s;
  }
  
.accordion .card-header.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
  }

#headingOne {
    background-color: #F8270A;
}

#headingTwo {
    background-color: #FF4840;
}

#headingThree {
    background-color: #FF5D53;
}

#headingFour {
    background-color: #FF816F;
}

#headingFive {
    background-color: #FF9E88;
}

#headingSix {
    background-color: #FE8421;
}

#headingSeven {
    background-color: #FFAA53;
}

#headingEight {
    background-color: #F5C174
}

#headingNine {
    background-color: #F7D090;
}

#headingTen {
    background-color: #EECFA4;
}

#headingEleven {
    background-color: #569443;
}

#headingTwelve {
    background-color: #56994C;
}

#headingThirteen {
    background-color: #689F5C;
}

#headingFourteen {
    background-color: #88AB6C;
}

#headingFifteen {
    background-color: #AABC81;
}

#headingSixteen {
    background-color: #AABC81;
}

#headingSeventeen {
    background-color: #1A7DA7;
}

#headingEighteen {
    background-color: #468FB3;
}

#headingNineteen {
    background-color: #7DA4B4;
}

#headingTwenty {
    background-color: #A6B7B8;
}

#headingTwenty-One {
    background-color: #61235D;
}

#headingTwenty-Two {
    background-color: #722960;
}

#headingTwenty-Three {
    background-color: #8C3F6F;
}

#headingTwenty-Four {
    background-color: #A95877;
}

#headingTwenty-Five {
    background-color: #C07789;
}

#headingTwenty-Six {
    background-color: #F23250;
}

#headingTwenty-Seven {
    background-color: #EB495E;
}

#headingTwenty-Eight {
    background-color: #F26570;
}

#headingTwenty-Nine {
    background-color: #F47575;
}

#headingThirty {
    background-color: #F99287;
}

/* text boxes */

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
    text-align: center;
}

.shadow-textarea textarea.form-control {
    margin: auto;
    width: 50%;
    text-align: center;
}




/* Footer */

.footer-container {
    width: 100%;
    text-align: center;
}


.social-icon {
    margin: 20px 10px;
}