* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and
    height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lustria', serif;
    text-align: center;
}


.p {
    line-height: 1.6;
}

/* Heading */

.hero-container {
    background: url("images/night-photograph.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 1000px;
    background-size: cover;
    padding: 200px;
}

.container {
    width: 100%;
    padding: 8%;
    background-color: #556270;
    margin-bottom: 50px;
}

.container-fluid {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 25px;
}

#play-game-page {
    margin: 50px, auto;
    width: 100%;

}



h1 {
    font-family: "Lustria", serif;
    text-align: center;
    font-size: 50px;
    text-align: center;
    color: white;
    ;
}

h2 {
    color: white;
    text-align: left;
    font-size: 28px;
    font-family: 'Lustria', serif;
}

h3 {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-family: 'Lustria', serif;
    color: white;
    line-height: 1.6rem;
}

h4 {
    text-align: center;
    padding: 25px;
    font-size: 20px;
    font-family: 'Lustria', serif;
    color: white;
    font-weight: bold;
}

h5 {
    text-align: center;

    font-family: 'Lustria', serif;
    padding: 15px;
}

h6 {
    color: white;
    text-align: center;
}


.btn-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}


.card-header p {
    font-size: 20px;
    color: white;
}

.complete-status {
    text-align: right;
    padding-top: 9px;
}


/* Navigation Bar */
/* 
.navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: 'Lustria', serif;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Lustria', serif;
  }
   */

/* .nav-bar {
    clear: both;
    overflow: auto;
    background-color: #EBEDF3;
}

.nav-logo img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-link {
    float: right;
} */

a:link {
    text-decoration: none;
    color: black;
    transition-duration: 0.8s;
}

a:active {
    color: purple;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(30, 74, 131);
}


.card {
    /* height: 600px; */
    outline: darkgray;
}

.card-body {
    line-height: 1.6;
    margin: 30px;
    font-size: 16px;
}

.card border-dark mb-3 {
    height: 200px;
}

/* Getting Started Page */

#get-started-page {
    background-color: #556270;
    margin-bottom: 50px;
}

.profile-content {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 200px;
    margin-bottom: 30px;
    height: 350px;
}

/* Game Page */

#headingOne {
    background-color: #F8270A;
}

#headingTwo {
    background-color: #FF4840;
}

#headingThree {
    background-color: #FF5D53;
}

#headingFour {
    background-color: #FF816F;
}

#headingFive {
    background-color: #FF9E88;
}

#headingSix {
    background-color: #FE8421;
}

#headingSeven {
    background-color: #FFAA53;
}

#headingEight {
    background-color: #FAC74D
}

#headingNine {
    background-color: #FFBD70;
}

#headingTen {
    background-color: #FDBD76;
}

#headingEleven {
    background-color: #569443;
}

#headingTwelve {
    background-color: #56994C;
}

#headingThirteen {
    background-color: #689F5C;
}

#headingFourteen {
    background-color: #88AB6C;
}

#headingFifteen {
    background-color: #AABC81;
}

#headingSixteen {
    background-color: #AABC81;
}

#headingSeventeen {
    background-color: #1A7DA7;
}

#headingEighteen {
    background-color: #468FB3;
}

#headingNineteen {
    background-color: #7DA4B4;
}

#headingTwenty {
    background-color: #A6B7B8;
}

#headingTwenty-One {
    background-color: #61235D;
}

#headingTwenty-Two {
    background-color: #722960;
}

#headingTwenty-Three {
    background-color: #8C3F6F;
}

#headingTwenty-Four {
    background-color: #A95877;
}

#headingTwenty-Five {
    background-color: #C07789;
}

#headingTwenty-Six {
    background-color: #F23250;
}

#headingTwenty-Seven {
    background-color: #EB495E;
}

#headingTwenty-Eight {
    background-color: #F26570;
}

#headingTwenty-Nine {
    background-color: #F47575;
}

#headingThirty {
    background-color: #F99287;
}

/* text boxes */

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
    text-align: center;
}

.shadow-textarea textarea.form-control {
    margin: auto;
    width: 50%;
    text-align: center;
}




/* Footer */

.footer-container {
    width: 100%;
    text-align: center;
}


.social-icon {
    margin: 20px 10px;