* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and
    height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


body {
    font-family: 'Crimson Text', serif;
}


.container {
    background-color: lightgray;
}

.hero-container {
    background: url("images/hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 1000px;
    background-size: cover;
    padding: 10%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    ;
}

h3 {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-family: 'Poppins', Arial, sans-serif;
}

h4 {
    text-align: center;
    padding: 10px;
    font-size: 23px;
    font-family: 'Poppins', Arial, sans-serif;
}


.footer-container {
    width: 100%;
    text-align: center;
}


/* HEADER - NAVIGATION BAR-------------------------------------------------*/

.nav-bar {
    clear: both;
    overflow: auto;
    background-color: #EBEDF3;
}

.nav-logo img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-links {
    float: right;
}

ul {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}

li {
    display: inline-block;
    margin: 10px;
    width: auto;
}

a:link {
    text-decoration: none;
    color: black;
    transition-duration: 0.8s;
}

a:active {
    color: #2B4261;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(30, 74, 131);
}




/* responsive tag samples */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    font-family: 'Roboto';
    margin: 0;
    background-color: #fafafa;
}

.container {
    margin: 150px auto;
    max-width: 960px;
}

label {
    display: block;
    padding: 20px 0 5px 0;
}

.tagsinput,
.tagsinput * {
    box-sizing: border-box
}

.tagsinput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #556270;
    padding: 5px 5px 0;
    border: 1px solid #e6e6e6;
    border-radius: 2px
}

.tagsinput.focus {
    border-color: #ccc
}

.tagsinput .tag {
    position: relative;
    background: #556270;
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
    padding: 5px 30px 5px 5px;
    border-radius: 2px;
    margin: 0 5px 5px 0
}

.tagsinput .tag .tag-remove {
    position: absolute;
    background: 0 0;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #ff6b6b;
    line-height: 30px;
    padding: 0;
    border: 0
}

.tagsinput .tag .tag-remove:after,
.tagsinput .tag .tag-remove:before {
    background: #ff6b6b;
    position: absolute;
    display: block;
    width: 10px;
    height: 2px;
    top: 14px;
    left: 10px;
    content: ''
}

.tagsinput .tag .tag-remove:before {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.tagsinput .tag .tag-remove:after {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg)
}

.tagsinput div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.tagsinput div input {
    background: 0 0;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    border: 0;
    margin: 0 5px 5px 0
}

.tagsinput div input.error {
    color: #ff6b6b
}

.tagsinput div input::-ms-clear {
    display: none
}

.tagsinput div input::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input:-moz-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input::-moz-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input:-ms-input-placeholder {
    color: #ccc;
    opacity: 1
}