* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and
    height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


body {
    font-family: 'Crimson Text', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Crimson Text";
    text-align: center;
}


/* Heading */

.hero-container {
    background: url("images/night-photograph.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 1000px;
    background-size: cover;
    padding: 200px;
}

.container-fluid {
    padding-right: 25px;
    padding-left: 25 px;
}



h1 {
    font-family: "Crimson Text";
    text-align: center;
    font-size: 50px;
    text-align: center;
    color: white;
    ;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
}

h4 {
    text-align: center;
    padding: 10px;
    font-size: 23px;
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
}

h5 {
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
}

h6 {
    color: white;
    text-align: center;
}


.btn-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: "Crimson";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
  

/* .nav-bar {
    clear: both;
    overflow: auto;
    background-color: #EBEDF3;
}

.nav-logo img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-link {
    float: right;
} */

a:link {
    text-decoration: none;
    color: black;
    transition-duration: 0.8s;
}

a:active {
    color: #2B4261;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(30, 74, 131);
}


.card {
    /* height: 600px; */
    outline: lightgray;

}

.card border-dark mb-3 {
    height: 200px;
}

/* Getting Started Page */

#get-started-page {
    background-color: #556270;
    margin-bottom: 50px;
}

.profile-content {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 200px;
    margin-bottom: 30px;
    height: 350px;
}

/* Game Page */

#headingOne  {
    background-color: #F8270A; 
}

#headingTwo  {
    background-color: #FF4840;
}

#headingThree {
    background-color: #FF5D53;
}

#headingFour {
    background-color: #FF816F;
}

#headingFive {
    background-color: #FF9E88;
}
#headingSix {
    background-color: #FE8421;
}
#headingSeven {
    background-color: #FFAA53;
}
#headingEight {
    background-color: #FFC071;
}
#headingNine {
    background-color: #FFBD70;
}
#headingTen {
    background-color: #FDBD76;
}
#headingEleven {
    background-color: #569443;
}
#headingTwelve {
    background-color: #56994C;
}
#headingThirteen {
    background-color: #689F5C;
}
#headingFourteen {
    background-color: #88AB6C;
}
#headingFifteen  {
    background-color: #AABC81;
}
#headingSixteen {
    background-color: #AABC81;
}
#headingSeventeen {
    background-color: #1A7DA7;
}
#headingEighteen {
    background-color: #468FB3;
}
#headingNineteen {
    background-color: #7DA4B4;
}
#headingTwenty {
    background-color: #A6B7B8;
}
#headingTwenty-One {
    background-color: #61235D;
}
#headingTwenty-Two {
    background-color: #722960;
}
#headingTwenty-Three {
    background-color: #8C3F6F;
}
#headingTwenty-Four {
    background-color: #A95877;
}
#headingTwenty-Five {
    background-color: #C07789;
}
#headingTwenty-Six {
    background-color: #F23250;
}
#headingTwenty-Seven  {
    background-color: #EB495E;
}
#headingTwenty-Eight {
    background-color: #F26570;
}

#headingTwenty-Nine  {
    background-color: #F47575;
} 
#headingThirty {
    background-color: #F99287;
} 


/* Footer */

.footer-container {
    width: 100%;
    text-align: center;
}


.social-icon {
    margin: 20px 10px;


    /* responsive tag samples */

    * {
        box-sizing: border-box;
    }


    html {
        height: 100%;
        margin: 0;
    }

    body {
        min-height: 100%;
        font-family: 'Roboto';
        margin: 0;
        background-color: #fafafa;
    }

    .container {
        margin:0 auto;
        /* max-width: 960px; */
        text-align: center;
        background-color: lightslategray
    }

    .row-profile {
        height: 
    }

    
    label {
        display: block;
        padding: 20px 0 5px 0;
    }

    .tagsinput,
    .tagsinput * {
        box-sizing: border-box
    }

    .tagsinput {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background: #fff;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #556270;
        padding: 5px 5px 0;
        border: 1px solid #e6e6e6;
        border-radius: 2px
    }

    .tagsinput.focus {
        border-color: #ccc
    }

    .tagsinput .tag {
        position: relative;
        background: #556270;
        display: block;
        max-width: 100%;
        word-wrap: break-word;
        color: #fff;
        padding: 5px 30px 5px 5px;
        border-radius: 2px;
        margin: 0 5px 5px 0
    }

    .tagsinput .tag .tag-remove {
        position: absolute;
        background: 0 0;
        display: block;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        color: #ff6b6b;
        line-height: 30px;
        padding: 0;
        border: 0
    }

    .tagsinput .tag .tag-remove:after,
    .tagsinput .tag .tag-remove:before {
        background: #ff6b6b;
        position: absolute;
        display: block;
        width: 10px;
        height: 2px;
        top: 14px;
        left: 10px;
        content: ''
    }

    .tagsinput .tag .tag-remove:before {
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg)
    }

    .tagsinput .tag .tag-remove:after {
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg)
    }

    .tagsinput div {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .tagsinput div input {
        background: 0 0;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        padding: 5px;
        border: 0;
        margin: 0 5px 5px 0
    }

    .tagsinput div input.error {
        color: #ff6b6b
    }

    .tagsinput div input::-ms-clear {
        display: none
    }

    .tagsinput div input::-webkit-input-placeholder {
        color: #ccc;
        opacity: 1
    }

    .tagsinput div input:-moz-placeholder {
        color: #ccc;
        opacity: 1
    }

    .tagsinput div input::-moz-placeholder {
        color: #ccc;
        opacity: 1
    }

    .tagsinput div input:-ms-input-placeholder {
        color: #ccc;
        opacity: 1
    }